@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

/* Global Styling */
:root {
	--background-color: var(--background_black);
	--font-color: var(--font_white);

	--background_white: #fff;
	--background_black: #1a202c;
	--font_black: #000;
	--font_white: #fff;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1,
p,
svg,
img,
a {
	transition: 0.25s ease-in-out;
}
h1:hover,
p:hover,
svg:hover,
img:hover,
a:hover {
	opacity: 0.7;
}
a:hover,
svg:hover {
	cursor: pointer;
}
h1 {
	font-size: 2.25rem;
	font-weight: 700;
}
p {
	font-size: 1.25rem;
	font-weight: 500;
}
.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.w-center {
	justify-content: center;
}
.w-end {
	justify-content: flex-end;
}
.h-center {
	align-items: center;
}
::selection {
	background: #90cdf4;
}

/* Top Header Styling */
#themeChanger {
	position: absolute;
	top: 0;
	right: 0;
}
.theme-changer-container {
	margin: 1rem;
}
svg.hidden {
	display: none;
}
nav {
	margin-top: 2rem;
}
nav li {
	display: inline-block;
}
nav li a {
	margin: 0 1rem;
}
a {
	text-decoration: none;
	font-size: 1.875rem;
	font-weight: 700;
	color: inherit;
}
a:hover {
	color: #90cdf4;
}

/* Body Styling */
body {
	background-color: var(--background-color);
	font-family: Open Sans, sans-serif;
	color: var(--font-color);
	transition: background-color 0.25s ease-in-out;
}
section {
	max-width: 1200px;
}
.social-media-section {
	margin: 3rem 0;
}
.social-media-section a:first-of-type {
	margin-right: 0.5rem;
}
.social-media-section a {
	text-decoration: none;
	color: var(--font-color);
}
.top-section > * {
	flex-basis: 100%;
}
.top-section img {
	border-radius: 50%;
	height: 250px;
	margin-right: 5rem;
}

/* Project Section Styling */
.cards-section {
	width: 100%;
	margin-top: 5rem;
	text-align: left;
}
.cards-section h1 {
	margin-bottom: 2rem;
}
.cards-section .text-section {
	padding: 1rem;
}
.cards-section .text-section h2 {
	margin-bottom: 1rem;
}
.project-card {
	border: gray 0.1rem solid;
	margin: 0 1rem;
}
.project-card:first-of-type {
	margin-left: 0;
}
.project-card:last-of-type {
	margin-right: 0;
}
.project-image-container {
	height: 275px;
	overflow: hidden;
}
.project-card img {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

/*footer styling */
footer {
	height: 150px;
	width: 100%;
}
footer p {
	color: lightcoral;
}

@media screen and (max-width: 850px) {
	main {
		padding: 0 2rem;
	}
	nav ul {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	nav li {
		display: block;
	}
	.top-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.top-section img {
		margin: 0;
	}
	.top-section article {
		margin-top: 2rem;
	}
	.cards-section .project-card-section {
		flex-direction: column;
	}
	.cards-section .project-card-section .project-card,
	.cards-section .project-card-section .view-more-card {
		margin: 0;
		margin-top: 2rem;
	}
	.cards-section .project-card-section .project-card:first-of-type {
		margin: 0;
	}
}
